@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: #FAF3F0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.clip-path-polygon {
  clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0% 100%);
}

.clip-path-polygon-base {
  clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0% 100%);
}

.clip-path-polygon-side1 {
  clip-path: polygon(0 0, 0 100%, 100% 0);

}

.clip-path-polygon-side2 {
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.clip-path-polygon-menu {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.clip-path-polygon-cross {
  clip-path: polygon(0 20%, 35% 20%, 35% 0%, 65% 0%, 65% 20%, 100% 20%, 100% 45%, 65% 45%, 65% 100%, 35% 100%, 35% 45%, 0 45%);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev:after,
.swiper-button-next:after {  
  font-size: 25px !important;  
}

